b {
    color: brown;
    font-size: 20px;
}

strong {
    color: burlywood;
    font-size: 25px;
}

em {
    color: darkolivegreen;
    font-size: 22px;
}

i {
    color: darkorange;
    font-size: 18px;
}

p.not {
    word-spacing: 30px;
}

p.net {
    text-align: right;
}

h3 {
    letter-spacing: 10px;
}

.espacio {
    margin: 0px 100px 0px 0px;
    padding: 0px 100px 0px 0px;
}